@font-face {
    font-family: monospaceNew;
    src: url(./monospace.ttf);
}

body {
    background-color: rgb(50, 54, 57);
    font-family: monospaceNew;
    overflow: hidden;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#time {
    font-weight: bold;
    float: right;
    margin: 0px;
    margin-right: 10px;
    margin-top: 5px;
    color: #fff;
    font-size: 64px;
    display: none;
}

.center {
    display: flex;
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    justify-content: center;
}

.settings {
    position: absolute;
    background-color: #111;
    width: 370px;
    height: 430px;
    top: 100px;
    border-radius: 10px;
    font-family: monospace;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, .2);
    display: none;
}

.settingsInternal {
    padding: 0;
    margin: 10px;
    margin-left: 15px;
    margin-right: 15px;
    color: #fff;
    font-size: 16px;
}

#rdisplay, #gdisplay, #bdisplay, #tdisplay, #ydisplay {
    display: inline-block;
    margin: 10px;
}

.settingsButton {
    position: absolute;
    right: 15px;
    bottom: 15px;
}

.settingsButton img {
    width:  24px;
    height: 24px;
}

.settingsButton button {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    border: none;
    background: none;
    color: #fff;
    cursor: pointer;
}

#settingsExit  {
    float: right;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    border: none;
    background: none;
    color: #fff;
    cursor: pointer;
}

input[type="range"] {
    appearance: inherit;
    -webkit-appearance: none;
    background: none;
}

input[type="range"]:focus {
    outline: none;
    background: none;
}

input[type="range"]::-webkit-slider-runnable-track {
    background: #999;
    height: 5px;
    border-radius: 5px;
}

input[type="range"]::-moz-range-track {
    background: #999;
    height: 5px;
    border-radius: 5px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 15px;
    width: 15px;
    background: #eee;
    margin-top: -5px;
    border-radius: 50%;
}

input[type="range"]::-moz-range-thumb {
    height: 15px;
    width: 15px;
    background: #eee;
    margin-top: -5px;
    border-radius: 50%;
}

.push {
    margin-left: auto;
}

.randomButton {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    border: none;
    background: none;
    color: #fff;
    cursor: pointer;

    display: inline-block;
}

.bgcolor {
    display: flex;
    align-items: center;
}

.bgcolorRight {
    display: inline-block;
    margin-top: 38px;
}

.randomButton img {
    width:  24px;
    height: 24px;

    margin-top: -17px;
    position: absolute;
}

#hex {
    all: unset;
    width: 75px;
    border: none;
    padding: 0;
    background-color: #666;
    color: #fff;
    padding: 3px;
    border-radius: 5px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .1s;
    transition: .1s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: #eee;
    -webkit-transition: .1s;
    transition: .1s;
}

input:checked+.slider {
    background-color: #444;
}

input:focus+.slider {
    box-shadow: 0 0 1px #444;
}

input:checked+.slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 17px;
}

.slider.round:before {
    border-radius: 50%;
}

.search {
    position: absolute;
    display: flex;
    background-color: #323233;
    width: 500px;
    height: 35px;
    border-radius: 5px;
    border: .5px solid rgba(0, 0, 0, .2);
    align-items: center;
    justify-content: center;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, .2);
}

.search input {
    all: unset;
    width: 475px;
    border: none;
    padding: 0;
    background: none;
    color: #ccc;
    padding: 3px;
    
    margin-left: 10px;
}

#searchIcon {
    margin: 0px;
    margin-right: 10px;
    width:  18px;
    height: 18px;
}

#clearSearch {
    display: none;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    border: none;
    background: none;
    color: #fff;
    cursor: pointer;
}

#clearSearch img {
    width:  24px;
    height: 24px;

    margin-right: 3px;
}

#engines {
    background: none;
    color: #fff;
    font-family: monospaceNew;
    border: none;
}

#engines option {
    background-color: #111;
    border: none;
}

select {
    padding: 5px;
}