body {
    background-color: rgb(50, 54, 57);
    font-family: monospaceNew;
    overflow: hidden;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#time {
    font-weight: bold;
    margin: 10px;
    margin-top: 5px;
    margin-bottom: 0px;
    color: #fff;
    font-size: 64px;
    display: none;
    z-index: 99;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 1);
}

.text {
    font-size: 12px;
    margin-right: 10px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.textSmall {
    font-size: 10px;
    margin-right: 10px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.colorLabel {
    font-size: 16px;
    margin-right: 10px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.timeContainer {
    display: flex;
    width: 100%;
    height: 100%;
}

.center {
    display: flex;
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    justify-content: center;
}

.settings {
    position: absolute;
    background-color: #111;
    width: 430px;
    height: fit-content;
    top: 50px;
    border-radius: 10px;
    z-index: 999;
    font-family: monospaceNew;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, .2);
    display: none;
}

.jscolor {
    display: none;
}

.settingsInternalMain {
    padding: 0;
    margin: 10px;
    margin-left: 15px;
    margin-right: 15px;
    color: #fff;
    font-size: 16px;

    /* display: none; */
}

.colorSettings {
    padding: 0;
    margin: 10px;
    margin-left: 15px;
    margin-right: 15px;
    color: #fff;
    font-size: 16px;
    display: none;
}

.colorSettings h3 {
    color: white;
}

#colorsTextArea {
    height: 50vh;
    width: 100%;
    background-color: #111;
    color: white;
    border: none;
    outline: none;
    padding: 15px;
    resize: none;
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    ::-webkit-scrollbar {
        display: none;
    }
}

#rdisplay, #gdisplay, #bdisplay, #tdisplay, #ydisplay {
    display: inline-block;
    margin: 10px;
}

#tinput, #yinput, #gradientSpeedInput {
    background: none;
    color: white;
    width: fit-content;
    border: none;
    outline: none;
    margin-left: 5px;
    font-family: monospace;
}

.settingsHover {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 300px;
    aspect-ratio: 1;
    z-index: 99;
}

.settingsHover:hover ~ #settingsButton {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s, visibility 0.5s;
}

#settingsButton {
    position: fixed;
    margin: 5px;
    padding: 10px;
    bottom: 0;
    filter: drop-shadow(1px 2px 2px rgb(0, 0, 0, 0.75));
    visibility: hidden;
    opacity: 0;
    transition: opacity 1s, visibility 1s;
    text-decoration: none;
    border: none;
    border-radius: 10px;
    background: none;
    color: #fff;
    cursor: pointer;
    z-index: 99;
}

#settingsButton:hover {
    visibility: visible;
    opacity: 0.8;
    transition: opacity 0.25s, visibility 0.25s;
}

#settingsButton img {
    width:  22px;
    height: 22px;
}

#settingsExit  {
    float: right;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    border: none;
    background: none;
    color: #fff;
    cursor: pointer;
    transition: 0.1s;
}

input[type="range"] {
    appearance: inherit;
    -webkit-appearance: none;
    background: none;
}

input[type="range"]:focus {
    outline: none;
    background: none;
}

input[type="range"]::-webkit-slider-runnable-track {
    background: #999;
    height: 5px;
    border-radius: 5px;
}

input[type="range"]::-moz-range-track {
    background: #999;
    height: 5px;
    border-radius: 5px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 15px;
    width: 15px;
    background: #eee;
    margin-top: -5px;
    border-radius: 50%;
}

input[type="range"]::-moz-range-thumb {
    height: 15px;
    width: 15px;
    background: #eee;
    margin-top: -5px;
    border-radius: 50%;
}

.push {
    margin-left: 40px;
}

.randomButton {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    border: none;
    background: none;
    color: #fff;
    cursor: pointer;

    display: inline-block;
}

.bgcolor {
    display: flex;
    align-items: center;
}

.bgcolorRight {
    display: flex;
    align-items: center;
}

.randomButton img {
    width:  20px;
    height: 20px;

    margin-top: -15px;
    position: absolute;
}

#hex {
    all: unset;
    width: 75px;
    border: none;
    padding: 0;
    background-color: #666;
    color: #fff;
    padding: 3px;
    border-radius: 5px;
    margin-left: 10px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .1s;
    transition: .1s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: #eee;
    -webkit-transition: .1s;
    transition: .1s;
}

input:checked+.slider {
    background-color: #444;
}

input:focus+.slider {
    box-shadow: 0 0 1px #444;
}

input:checked+.slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 17px;
}

.slider.round:before {
    border-radius: 50%;
}

.search {
    position: absolute;
    display: flex;
    background-color: rgba(0, 0, 0, .5  );
    width: 600px;
    height: 50px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, .2);
    top: 0;
}

.search input {
    all: unset;
    width: 100%;
    height: 100%;
    border: none;
    padding: 0;
    background: none;
    color: #fff;
    padding: 3px;
    margin-left: 10px;
    font-size: 16px;
}

#searchIcon {
    margin: 0px;
    margin-right: 15px;
    width:  18px;
    height: 18px;
    opacity: .9;
}

#clearSearch {
    display: none;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    border: none;
    background: none;
    color: #fff;
    cursor: pointer;
}

#clearSearch img {
    width:  24px;
    height: 24px;
    margin-right: 10px;
    opacity: 0.9;
}

#clearSearch img:hover {
    opacity: 1;
}

#engines, #fonts {
    background: none;
    color: #fff;
    font-family: monospaceNew;
    border: none;
    outline: none;
    font-size: 12px;
}

#engines, #fonts option {
    background-color: #111;
    border: none;
}


select {
    padding: 5px;
}

.timeLocation button{
    padding: 0;
    margin-top: 5px;
    margin-bottom: 5px;
    border: none;
    height: 15px;
    width:  15px;
    background-color: #333;
    cursor: pointer;
    border-radius: 3px;
}

#selectedButton {
    background-color: #888;
}

#githubIcon img{
    width: 20px;
    height: 20px;
}

#bottomRight {
    position: absolute;
    right: 15px;
    bottom: 15px;
}

#randomColorEdit {
    margin-left: 15px;
    width: 15px;
    height: 15px;
    opacity: 0.6;
    transition: 0.2s;
}

#randomColorEdit:hover {
    opacity: 1;
    transition: 0.2s;
    cursor: pointer;
}

#colorEditExit {
    position: absolute;
    bottom: 15px;
    right: 15px;
    width: 20px;
    height: 20px;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    border: none;
    background: none;
    color: #fff;
    cursor: pointer;
}

#settingsExit:hover,#colorEditExit:hover {
    opacity: 0.7    5;
    transition: 0.1s;
    cursor: pointer;
}

.timeModeText {
    margin: 0;
    font-size: 12px;
    margin-right: 10px;
}

#colorPicker {
    border: none;
    padding: 0;
    width: 50px;
    height: 30px;
}

#colorPicker::-webkit-color-swatch {
    border: none;
}

#timeSettingsToggle, #searchSettingsToggle, #gradientSpeedToggle {
    display: none;
}

.fv {
    display: flex;
    align-items: center;
}

.fh {
    display: flex;
    justify-content: center;
}

.fc {
    display: flex;
    flex-direction: column;
}

#noiseTexture {
    mix-blend-mode: multiply;
    position: absolute;
    top: 0;
    left: 0;
    user-select: none;
    pointer-events: none;
}